#projectSec{
    width: 100vw;
    height: 400vw;
    position: relative;

}

.projectSecSticker{
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



.projectSecBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
   

  
}

.projectsTop{
    width: 100%;
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.project1{
    height: 50vh;
    width: 50vw;
    
    flex-shrink: 0;
    /* border: 1px solid green; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project2{
    height: 50vh;
    width: 50vw;
    /* border: 1px solid orange; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsBottom{
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project3{
    height: 50vh;
    width: 50vw;
    /* border: 1px solid indianred; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project4{
    height: 50vh;
    width: 50vw;
    /* border: 1px solid indigo; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.websiteLinks{
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* border: 2px solid red; */
}

.overLayCont{
    font-family: "Orbitron", sans-serif;
    padding: 5px;
    color: black;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 14px;

}

.websiteLink{
    width: 120px;
    height: 40px;
    background-color: white;
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 5px #aaaa;
    transition: 0.3s ease-in-out;

}

.websiteLink:hover{
    margin-top: -5px;
    margin-left: -5px;

}

.gitHubLink{
    width: 120px;
    height: 40px;
    background-color: white;
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 5px #aaaa;
    transition: 0.3s ease-in-out;

}

.gitHubLink:hover{
    margin-top: -5px;
    margin-right: -5px;
}



.projectBoxScale{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;


}


.projectBoxScale2{
    position: relative;
    height: 100vh;
    width: 100vw;

    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    transition: background-color 0.5s ease-in-out;
}

.projectStar{
    position: absolute;
    border: 2px solid blue;
    
}
.girlFaceDiv{
    position: absolute;
}



.rocket{
    position: absolute;
    /* border: 2px solid black; */
    top: 10%;
    right: 10%;
}

.codaveCtnt{
    position: absolute;
    font-family: "Cormorant Unicase", serif;
    width: 300px;
    left: 5%;
    top: 10%;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
}

.creativeCtnt{
    position: absolute;
    font-family: "Cormorant Unicase", serif;
    top: 45%;
    right: 10%;
    font-size: 40px;
    text-align: center;
    font-family: "BBH Hegarty", sans-serif;   
    font-style: italic;
    
}

.eduCtnt{
    position: absolute;
    font-family: "Cormorant Unicase", serif;
    right: 10%;
    top: 50%;
    font-size: 40px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-style: italic;
    

    
}


.desCtnt{
    position: absolute;
    font-family: "Cormorant Unicase", serif;
    left: 5%;
    bottom: 10%;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
   
}

.projectHero{
    position: absolute;
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.projectHeroImg{
   
    object-fit: contain;
    width: 100%;
    height: 100%;


}

@media (max-width:820px) {


  
    .projectsTop{
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projectsBottom{
        width: 100%;
        height: 100%;
        /* border: 2px solid blue; */
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .project1{
        height: 50vh;
        width: 100vw;
        
        flex-shrink: 0;
        /* border: 1px solid green; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .project2{
        height: 50vh;
        width: 100vw;
        /* border: 1px solid orange; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project3{
        height: 50vh;
        width: 100vw;
        /* border: 1px solid indianred; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project4{
        height: 50vh;
        width: 100vw;
        /* border: 1px solid indigo; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
   
}


@media (max-width:700px) {
  .girlFaceDiv{
   display: none;
  }

}