footer{
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-top: 5%;
    transition: background-color 0.3s ease-in-out;
}

.footerNavs{
    height: 100px;
    width: 100%;
    position: relative;
}

.footerNav1{
    position: absolute;
    left: 5%;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 11px;

}

.footerNav1 button{
    cursor: pointer;
}

.footerMarquee{
    width: 100%;
    /* border: 2px solid #aaaaaa2a; */
    left: 0;
    font-size: 5vw;
    color: #aaaaaa;
    font-family: "Orbitron", sans-serif;
 }

 .footerLogo{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
 }

 

 .codaveFooterH1{
    font-family: "BBH Hegarty", sans-serif;
    font-size: 19vw;
    color: white;
 }

 .copyright{
    font-family: "Orbitron", sans-serif;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
 }

 .copyright span{
    width: 50px;
 }

 @media (max-width:700px) {
    .codaveLogoFooter{
        width: 150px;
    
    }
 }

 @media (max-width:500px) {
    .codaveLogoFooter{
        width: 100px;
    }

    .footerLogo{
        padding-left: 5%;
        padding-right: 5%;

    }
 }

